VITE_SUPABASE_URL=https://mmhaxqcklycbkjihvngo.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_1grlIqoOWXifHgtZg83t1Q_JWaBUjkM
VITE_PAYSTACK_PUBLIC_KEY=pk_test_your_paystack_public_key
VITE_API_BASE_URL=
VITE_APP_BASE_URL=http://localhost:5173
